body{
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid red;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}



